WebApplicationCWebForm/Web References/TestRecordService/TestRecords.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TestRecords" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64852/TestRecords.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64852/TestRecords.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64852/TestRecords.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceApplicationC" />
      <xsd:import schemaLocation="http://localhost:64852/TestRecords.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITestRecords_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="ITestRecords_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="ITestRecords_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="ITestRecords_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="ITestRecords_InsertUserDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserDetails" />
  </wsdl:message>
  <wsdl:message name="ITestRecords_InsertUserDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ITestRecords_SelectUserDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectUserDetails" />
  </wsdl:message>
  <wsdl:message name="ITestRecords_SelectUserDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectUserDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ITestRecords_DeleteUserDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserDetails" />
  </wsdl:message>
  <wsdl:message name="ITestRecords_DeleteUserDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ITestRecords_updateUserDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:updateUserDetails" />
  </wsdl:message>
  <wsdl:message name="ITestRecords_updateUserDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateUserDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ITestRecords_UpdateRegistrationTable_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRegistrationTable" />
  </wsdl:message>
  <wsdl:message name="ITestRecords_UpdateRegistrationTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRegistrationTableResponse" />
  </wsdl:message>
  <wsdl:portType name="ITestRecords">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestRecords/DoWork" message="tns:ITestRecords_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestRecords/DoWorkResponse" message="tns:ITestRecords_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestRecords/GetData" message="tns:ITestRecords_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestRecords/GetDataResponse" message="tns:ITestRecords_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertUserDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestRecords/InsertUserDetails" message="tns:ITestRecords_InsertUserDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestRecords/InsertUserDetailsResponse" message="tns:ITestRecords_InsertUserDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectUserDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestRecords/SelectUserDetails" message="tns:ITestRecords_SelectUserDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestRecords/SelectUserDetailsResponse" message="tns:ITestRecords_SelectUserDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUserDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestRecords/DeleteUserDetails" message="tns:ITestRecords_DeleteUserDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestRecords/DeleteUserDetailsResponse" message="tns:ITestRecords_DeleteUserDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateUserDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestRecords/updateUserDetails" message="tns:ITestRecords_updateUserDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestRecords/updateUserDetailsResponse" message="tns:ITestRecords_updateUserDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRegistrationTable">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestRecords/UpdateRegistrationTable" message="tns:ITestRecords_UpdateRegistrationTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestRecords/UpdateRegistrationTableResponse" message="tns:ITestRecords_UpdateRegistrationTable_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITestRecords" type="tns:ITestRecords">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/ITestRecords/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/ITestRecords/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUserDetails">
      <soap:operation soapAction="http://tempuri.org/ITestRecords/InsertUserDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectUserDetails">
      <soap:operation soapAction="http://tempuri.org/ITestRecords/SelectUserDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserDetails">
      <soap:operation soapAction="http://tempuri.org/ITestRecords/DeleteUserDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUserDetails">
      <soap:operation soapAction="http://tempuri.org/ITestRecords/updateUserDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRegistrationTable">
      <soap:operation soapAction="http://tempuri.org/ITestRecords/UpdateRegistrationTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TestRecords">
    <wsdl:port name="BasicHttpBinding_ITestRecords" binding="tns:BasicHttpBinding_ITestRecords">
      <soap:address location="http://localhost:64852/TestRecords.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>