WebApplicationCWebForm/Web References/TestRecordService/TestRecords1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceApplicationC" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceApplicationC" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TestRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TestRecord" nillable="true" type="tns:TestRecord" />
</xs:schema>