WebApplicationCWebForm/Web References/AgeCalculation/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64852/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceApplicationC" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateDays">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="day" type="xs:int" />
        <xs:element minOccurs="0" name="Month" type="xs:int" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateDaysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalculateDaysResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ages">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceApplicationC" minOccurs="0" name="dbo" nillable="true" type="q1:DOB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgesResult" type="xs:int" />
        <xs:element minOccurs="0" name="days" type="xs:int" />
        <xs:element minOccurs="0" name="yourAge" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgesYMD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="year" type="xs:int" />
        <xs:element minOccurs="0" name="month" type="xs:int" />
        <xs:element minOccurs="0" name="day" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgesYMDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgesYMDResult" type="xs:int" />
        <xs:element minOccurs="0" name="days" type="xs:int" />
        <xs:element minOccurs="0" name="yourAge" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>